<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
    <div>
        <form action="http://localhost:8000/login-validate" method="post">
            {% csrf_token %}
            <div class="form">
                <h1>LOGIN</h1>
                <div class="input">
                    <input type="text" placeholder="Username" name="username">
                </div>
                <div class="input">
                    <input type="password" placeholder="Password" name="password">
                </div>
                <a href="http://localhost:8000/signup">
                    <button class="login-btn">
                        LOGIN
                    </button>
                </a>
            </div>
            <div class="login">
                <h5>Don't have an account?  </h5>  <a href="http://localhost:8000/new-user">Register</a>
            </div>
        </form>
    </div>
</body>
</html>