<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration Page</title>
    <link rel="stylesheet" href="{% static 'css/new_user_style.css' %}">
</head>
<body>
    <div>
        
        <form action="http://localhost:8000/signup" method="post">
            {% csrf_token %}
            <div class="form">
                <h1>REGISTRATION</h1>
                <div class="input">
                    <input type="text" placeholder="Username" name="username">
                </div>
                {% if error_msg %}
                <div class="error">{{error_msg}}</div>
                {% endif %}
                <div class="input">
                    <input type="password" placeholder="Password" name="password">
                </div>
                <a href="http://localhost:8000/login">
                    <button class="register-btn">
                        REGISTER
                    </button>
                </a>
            </div>
            
            <div class="login">
                <h5>Already have an account?  </h5>  <a href="http://localhost:8000/login">Login</a>
            </div>
        </form>
    </div>
</body>
</html>